<div style="display: flex">
  <!-- MAIN section -->
  <div class="report" style="width: 100%">
    <div class="report-header">
      <div width="23%" class="left" valign="top">
        {{#if left_logo_img}}
        <img
          src="{{left_logo_img}}"
        />
        {{/if}}
      </div>
      <div width="40%" class="right" valign="top">
        {{#if right_logo_img}}
        <img src="{{right_logo_img}}" alt="Logo" />
        {{/if}}
      </div>
    </div>

    <div class="report-body">
      <p>
        <h2>Your vote has been cast</h2>
        <p>
          The confirmation code bellow verifies that your ballot has been cast
          successfully. You can use this code to verify that your ballot has been
          counted.
        </p>
        <div class="info">
          <div class="key">
            Your Ballot ID:
            <p class="value id-content">{{ballot_id}}</p>
          </div>
          <div class="key">
            Ballot tracker link:
            <a class="value" href="{{ballot_tracker_url}}">Click here</a>
          </p>
          <div class="key">
            Timestamp:
            <span class="value" class="timestamp-content">{{timestamp}}</span>
          </div>
        </div>
      </p>

      <p>
        <h2>Verify that your ballot has been cast</h2>
        <p>
          You can verify your ballot has been cast correctly at any moment using
          the following QR code:
        </p>
        {{{qrcode}}}
      </p>
    </div>

  </div>
</div>

<script>
  const qrcode = new QRCode(document.getElementById("qrcode"), { text: "{{{ballot_tracker_url}}}",
  width: 180, height: 180, colorDark: "#000000", colorLight: "#ffffff",
  correctLevel: QRCode.CorrectLevel.H, });
</script>