{{!--
SPDX-FileCopyrightText: 2024 Sequent Tech <legal@sequentech.io>
  SPDX-License-Identifier: AGPL-3.0-only
  --}}
<div class="report">
    <!-- MAIN section -->
    <table align="center" style="width: 100%">
        <tr>
          <td style="text-align: center; padding: 10px 0">
            <div style="width: 100%">
              <!-- Inner table section -->
              <table style="width: 100%" class="top-header">
                <!-- End of report section -->
                <tr>
                  <td align="left">
                    <table style="width: 100%">
                      <tr>
                        <td class="left">
                          <div>
                            <p>
                              {{datetime from_rfc3339=execution_annotations.date_printed
                              output_format="%B %d, %Y %H:%M"
                              with_timezone="UTC"}}
                            </p>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <!-- End of report section -->

                <!-- Document header block -->
                <tr>
                  <td>
                    <table class="main-header">
                      <tr>
                      <td width="23%" class="left" valign="top">
                        
                        <img src="./sequent-logo.svg" />
                        
                      </td>
                        <td width="54%" class="center">
                          <div class="country">SEQUENT ONLINE VOTING</div>
                          <div class="commission">COMMISSION ON ELECTIONS</div>
                          <div class="election-date">
                            {{datetime
                            from_rfc3339=execution_annotations.date_printed
                            output_format="%B %d, %Y"
                            with_timezone="UTC"}}
                          </div>
                          <div class="election-name">
                            {{sanitize_html (expr reports.0.election_name)}}
                          </div>
                          <div class="online">
                            ONLINE VOTING AND COUNTING SYSTEM
                          </div>
                          <div class="voting-period">
                            Voting Period: {{datetime from_rfc3339=reports.0.election_dates.scheduled_event_dates.ALLOW_INIT_REPORT.scheduled_at
                            output_format="%d %B %Y" with_timezone="UTC"}} - {{datetime
                            from_rfc3339=reports.0.election_dates.scheduled_event_dates.END_VOTING_PERIOD.scheduled_at output_format="%d %B %Y"
                            with_timezone="UTC"}}
                          </div>
                        </td>
                      <td width="23%" class="right" valign="top">

                        <img src=""/>
                        
                      </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <!-- Document header block -->
              </table>
            </div>
          </td>
        </tr>

        <!-- Main title -->
        <tr class="main-title">
          <td align="center">
            <div>
              <strong>Initialization Report</strong>
            </div>
          </td>
        </tr>
        <!-- Main title -->

        <!-- Additional sections -->
        {{#with ../reports.0 }}
        <tr>
          <td>
            <div>
              <table class="stats-table">
                <colgroup>
                  <col class="first-col">
                  <col class="second-col">  
                </colgroup>
                <tr>
                  <td class="key">
                    <strong>Geographical Region:</strong>
                  </td>
                  <td class="value">
                    {{sanitize_html (expr
                    election_annotations.geographical_region)}}
                  </td>
                </tr>
                <tr>
                  <td class="key post">
                    <strong>Post:</strong>
                  </td>
                  <td class="value">
                    {{sanitize_html (expr election_annotations.post)}}
                  </td>
                </tr>
                <tr>
                  <td class="key">
                    <strong>Country:</strong>
                  </td>
                  <td class="value">{{sanitize_html (expr area.name)}}</td>
                </tr>
                <tr>
                  <td class="key">
                    <strong>Voting Center:</strong>
                  </td>
                  <td class="value">
                    {{sanitize_html (expr election_annotations.post)}}
                  </td>
                </tr>
                <tr>
                  <td class="key">
                  <strong>Clustered Precinct ID:</strong>
                  </td>
                  <td class="value">
                    {{sanitize_html (expr election_annotations.pollcenter_code)}}
                  </td>
                </tr>
                <tr>
                   <td class="key">
                <strong>Precincts in the Cluster:</strong>
              </td>
              <td class="value">
                {{sanitize_html (expr election_annotations.clustered_precint_id)}}
              </td>
                </tr>
                <tr>
                  <td class="key">
                    <strong>Number of Registered Voters:</strong>
                  </td>
                  <td class="value">{{expr area_annotations.registered_voters}}</td>
                </tr>
                <tr>
                  <td class="key">
                    <strong>Number of Ballots Counted:</strong>
                  </td>
                  <td class="value">
                    {{format_u64 contest_result.total_votes}}
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <!-- END of additional sections -->

        <!-- Candidates section -->
        <tr>
          <td>
            <table class="candidates">
              <colgroup>
                <col class="first-col">
                <col class="second-col">
              </colgroup>
              <thead>
                <tr>
                  <td>NAME OF CANDIDATES/POSITION</td>
                  <td class="votes">VOTES GARNERED</td>
                </tr>
              </thead>
              <tbody>
                {{#each reports}}
                <tr class="contest-title">
                  <td colspan="2">{{contest_result.contest.name}}</td>
                </tr>
                {{#each contest_result.candidate_result as |candidate|}}
                <tr>
                  <td>{{candidate.candidate.name}}</td>
                  <td class="votes">{{format_u64 candidate.total_count}}</td>
                </tr>
                {{/each}} 
                {{/each}}
              </tbody>
            </table>
          </td>
        </tr>
        <!-- END Candidates section -->

        <!-- Paragraph section -->
        <tr class="paragraph">
          <td align="left">
            <div>
              <strong
                >WE, THE UNDERSIGNED MEMBERS OF THE BOARD OF ELECTION
                INSPECTORS</strong
              >
              of {{sanitize_html (expr election_annotations.post)}}, and
              Clustered Precinct ID {{sanitize_html (expr
              election_annotations.pollcenter_code)}}, do hereby certify
              under oath that the Online Voting and Counting System for
              {{sanitize_html (expr area.name)}} has been initialized on
              {{datetime from_rfc3339=execution_annotations.date_printed output_format="%B %d, %Y %H:%M"}} 
              and is ready for voting and counting.
            </div>
          </td>
        </tr>
        <!-- END Paragraph section -->
        <!-- Title secondary section -->
        <tr class="inspectors-title">
          <td>
            <div>
              <p>
                <strong>The Board of Election Inspectors</strong>
              </p>
            </div>
          </td>
        </tr>
        <!-- END Title secondary section -->
        <!-- Main signature section -->
        <tr class="inspector-signature">
          <td align="center">
            <div class="box"></div>
            <p>Right Thumbmark</p>
            <p>
              <strong>{{sanitize_html (expr execution_annotations.chairperson_name)}}</strong>
              <br /><strong>Chairperson</strong><br />(Signature above printed
              full name)
            </p>
          </td>
        </tr>
        <!-- Main signature section -->

        <!-- END Main signature section -->
        <tr class="inspector-signature">
          <td align="center">
            <div class="box"></div>
            <p>Right Thumbmark</p>
            <p>
              <strong>{{sanitize_html (expr execution_annotations.poll_clerk_name)}}</strong>
              <br /><strong>Poll Clerk</strong><br />(Signature above printed
              full name)
            </p>
          </td>
        </tr>
        <!-- END Main signature section -->

        <!-- Main signature section -->
        <tr class="inspector-signature">
          <td align="center">
            <div class="box"></div>
            <p>Right Thumbmark</p>
            <p>
              <strong>{{sanitize_html (expr execution_annotations.third_member_name)}}</strong>
              <br /><strong>Third Member</strong><br />(Signature above printed
              full name)
            </p>
          </td>
        </tr>
        <!-- END Main signature section -->
        <!-- Title secondary section -->
        <tr class="watchers-title">
          <td align="center">
            <div>
              <p>
                <strong>Watchers:</strong>
              </p>
            </div>
          </td>
        </tr>
        <!-- END Title secondary section -->
        <!-- Signature simple section -->
        <tr class="watcher-signature">
          <td align="center">
            <div>
              <hr />
              <p>(Signature above printed full name)</p>
            </div>
          </td>
        </tr>
        <!-- END Signature simple section -->
        <!-- Signature simple section -->
        <tr class="watcher-signature">
          <td align="center">
            <div>
              <hr />
              <p>(Signature above printed full name)</p>
            </div>
          </td>
        </tr>
        <!-- END Signature simple section -->
        <!-- Signature simple section -->
        <tr class="watcher-signature">
          <td align="center">
            <div>
              <hr />
              <p>(Signature above printed full name)</p>
            </div>
          </td>
        </tr>
        <!-- END Signature simple section -->

        <!-- QR CODES section -->
        <tr class="qr-codes">
          <td align="center">
            <div>
              <div class="qrcode" id="qrcode"></div>
            </div>
          </td>
        </tr>
        <!-- END QR CODES section -->

        <!-- Left paragraph section -->
        <tr class="sys-info">
          <td align="center">
            <div>
              Report hash: <span class="hash">{{sanitize_html (expr execution_annotations.report_hash)}}</span><br />
              Software version: {{sanitize_html (expr execution_annotations.app_version)}}<br />
              System hash: <span class="hash">{{sanitize_html (expr execution_annotations.app_hash)}}</span>
            </div>
          </td>
        </tr>
        <!-- END Left paragraph section -->
        <!-- End of report section -->
        <tr class="report-end">
          <td align="center">
            <div>
              <p>End of Report</p>
              <hr />
            </div>
          </td>
        </tr>
        <!-- End of report section -->
        {{/with}}
    </table>
</div>
<script>
    let reportHash = '{{expr execution_annotations.report_hash}}'
    let systemHash = '{{expr execution_annotations.app_hash}}';
    let softwareVersion = '{{expr execution_annotations.software_version}}';
    let ovcsVersion = '{{expr execution_annotations.app_version}}';
    let date = '{{datetime from_rfc3339=execution_annotations.date_printed}}'
    let user = '{{expr execution_annotations.executer_username}}'

  const qrcode = new QRCode(document.getElementById("qrcode"), {
    text:
      `Initialization Report: report hash:${reportHash}, system hash: ${systemHash}, software version: ${softwareVersion}, ovcs version: ${ovcsVersion}, date and time: ${date}, user who generated: ${user}`,
    width: 180, height: 180, colorDark: '#000000', colorLight: '#ffffff',
    correctLevel: QRCode.CorrectLevel.M,
  });
</script>