<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #ffffff;
        font-family: serif;
        font-size: 14px;
      }
      table,
      td {
        border-collapse: collapse;
      }
      img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
      }
      p,
      h1,
      h2,
      h3 {
        margin: 14px 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    </style>
  </head>
  <body style="background-color: #ffffff">
    <div style="margin: 0 auto; background-color: #ffffff">
      <!-- MAIN section -->
      <table align="center" style="width: 100%">
        <tr>
          <td style="text-align: center; padding: 10px 0">
            <div style="width: 100%">
              <!-- Inner table section -->
              <table style="width: 100%">
                <!-- Document header block -->
                <tr>
                  <td>
                    <table style="width: 100%">
                      <td width="25%">
                        <img
                          style="display: inline-block"
                          src=""
                          style="max-width: 80px"
                        />
                      </td>
                      <td width="50%" align="center" style="font-family: serif">
                        REPUBLIC OF PHILIPPINES
                        <br /><strong>COMMISSION ON ELECTIONS</strong>
                        <br />{{election_date}}
                      </td>
                      <td width="25%">
                        <img src="" style="max-width: 80px" />
                      </td>
                    </table>
                  </td>
                </tr>
                <!-- Document header block -->

                <!-- Subtitle header block -->
                <tr>
                  <td
                    align="center"
                    style="font-family: serif; font-size: 12px"
                  >
                    <div
                      style="
                        margin-top: 12px;
                        margin-bottom: 12px;
                        text-align: center;
                      "
                    >
                      <strong>ONLINE VOTING AND COUNTING SYSTEM</strong>
                      <br />Overseas Voting Period: {{datetime from_rfc3339=voting_period_start output_format="%d %B"}} - {{datetime from_rfc3339=voting_period_end output_format="%d %B %Y"}}
                    </div>
                  </td>
                </tr>
                <!-- Subtitle header block -->

                <!-- Main itle -->
                <tr>
                  <td
                    align="center"
                    style="font-family: serif; font-size: 18px"
                  >
                    <p><strong>INITIALIZATION REPORT</strong></p>
                  </td>
                </tr>
                <!-- Main itle -->

                <!-- Additional sections -->
                <tr>
                  <td style="margin: 16px 0">
                    <div style="margin: 16px 0">
                      <table style="width: 100%">
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Geographical Region:</strong>
                          </td>
                          <td style="text-align: left">
                            {{geographical_region}}
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Post:</strong>
                          </td>
                          <td style="text-align: left">{{post}}</td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Country:</strong>
                          </td>
                          <td style="text-align: left">{{country}}</td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Voting Center:</strong>
                          </td>
                          <td style="text-align: left">{{voting_center}}</td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Clustered Precinct ID:</strong>
                          </td>
                          <td style="text-align: left">{{precinct_code}}</td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Number of Registerd Voters:</strong>
                          </td>
                          <td style="text-align: left">
                            {{registered_voters}}
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            <strong>Number of Ballots Counted:</strong>
                          </td>
                          <td style="text-align: left">{{ballots_counted}}</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <!-- END of additional sections -->

                <!-- Table section -->
                <tr>
                  <td>
                    <table
                      border="1"
                      style="width: 100%; margin-top: 16px; margin-bottom: 16px"
                    >
                      <thead>
                        <tr>
                          <td style="text-align: center">
                            NAME OF CANDIDATES/POSITION
                          </td>
                          <td style="text-align: center">VOTES GARNERED</td>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each candidates}}
                        <tr>
                          <td
                            style="text-align: left; vertical-align: top"
                            colspan="2"
                          >
                            {{position}}{{position_name}}
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            {{name_in_ballot}}
                          </td>
                          <td style="text-align: left; vertical-align: top">
                            {{votes_garnered}}
                          </td>
                        </tr>
                        {{/each}}
                        <tr>
                          <td
                            style="text-align: left; vertical-align: top"
                            colspan="2"
                          >
                            {{position}}{{position_name}}
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align: left; vertical-align: top">
                            {{acronym}}
                          </td>
                          <td style="text-align: left; vertical-align: top">
                            {{votes_garnered}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <!-- END Table section -->

                <!-- Paragraph section -->
                <tr>
                  <td align="left">
                    <div
                      style="
                        margin-top: 12px;
                        margin-bottom: 12px;
                        text-align: left;
                      "
                    >
                      <strong
                        >WE, THE UNDERSIGNED MEMBERS OF THE SPECIAL BOARD OF
                        ELECTION INSPECTORS</strong
                      >
                      of {{post}} and Clustered Precinct ID {{precinct_code}},
                      do certify under oath that the Online Voting and Counting
                      System for {{country}} has been initialized.
                    </div>
                  </td>
                </tr>
                <!-- END Paragraph section -->

                <!-- Main signature section -->
                <tr>
                  <td align="center" style="padding: 15px">
                    <div
                      style="
                        width: 120px;
                        height: 120px;
                        border: 1px solid black;
                      "
                    ></div>
                    <p>Right Thumbmark</p>
                    <p>
                      {{chairperson_name}}<br /><strong>CHAIRPERSON</strong
                      ><br />(Signature above printed full name)
                    </p>
                  </td>
                </tr>
                <!-- Main signature section -->

                <!-- END Main signature section -->
                <tr>
                  <td align="center" style="padding: 15px">
                    <div
                      style="
                        width: 120px;
                        height: 120px;
                        border: 1px solid black;
                      "
                    ></div>
                    <p>Right Thumbmark</p>
                    <p>
                      {{poll_clerk_name}}<br /><strong>POLL CLERK</strong
                      ><br />(Signature above printed full name)
                    </p>
                  </td>
                </tr>
                <!-- END Main signature section -->

                <!-- Main signature section -->
                <tr>
                  <td align="center" style="padding: 15px">
                    <div
                      style="
                        width: 120px;
                        height: 120px;
                        border: 1px solid black;
                      "
                    ></div>
                    <p>Right Thumbmark</p>
                    <p>
                      {{third_member_name}}<br /><strong>THIRD MEMBER</strong
                      ><br />(Signature above printed full name)
                    </p>
                  </td>
                </tr>
                <!-- END Main signature section -->

                <!-- Title secondary section -->
                <tr>
                  <td align="center" style="padding: 15px">
                    <div style="text-align: center; padding: 15px">
                      <p style="font-family: serif; font-size: 12pt">
                        <strong>WATCHERS</strong>
                      </p>
                    </div>
                  </td>
                </tr>
                <!-- END Title secondary section -->

                <!-- Signature simple section -->
                <tr>
                  <td align="center" style="margin-top: 24px">
                    <div style="margin-top: 24px">
                      <hr
                        style="margin: 0 120px; border-top: 1px solid #000000"
                      />
                      <p style="margin-top: 0">
                        (Signature above printed full name)
                      </p>
                    </div>
                  </td>
                </tr>
                <!-- END Signature simple section -->
                <!-- Signature simple section -->
                <tr>
                  <td align="center" style="margin-top: 24px">
                    <div style="margin-top: 24px">
                      <hr
                        style="margin: 0 120px; border-top: 1px solid #000000"
                      />
                      <p style="margin-top: 0">
                        (Signature above printed full name)
                      </p>
                    </div>
                  </td>
                </tr>
                <!-- END Signature simple section -->

                <!-- Signature simple section -->
                <tr>
                  <td align="center" style="margin-top: 24px">
                    <div style="margin-top: 24px">
                      <hr
                        style="margin: 0 120px; border-top: 1px solid #000000"
                      />
                      <p style="margin-top: 0">
                        (Signature above printed full name)
                      </p>
                    </div>
                  </td>
                </tr>
                <!-- END Signature simple section -->

                <!-- Left paragraph section -->
                <tr>
                  <td align="center" style="padding: 10px">
                    <div style="text-align: left; margin-top: 24px">
                      Report hash: {{report_hash}}<br />
                      Software version: {{software_version}}<br />
                      OVCS version: {{ovcs_version}}<br />
                      System hash: {{system_hash}}
                    </div>
                  </td>
                </tr>
                <!-- END Left paragraph section -->

                <!-- End of report section -->
                <tr>
                  <td align="center">
                    <div style="text-align:center; margin: 16px; 0">
                      <hr
                        style="margin: 0 24px; border-top: 3px solid #000000"
                      />
                      <p>END OF REPORT</p>
                    </div>
                  </td>
                </tr>
                <!-- End of report section -->
              </table>
              <!-- Inner table section -->
            </div>
          </td>
        </tr>
      </table>
      <!-- MAIN section -->
    </div>
  </body>
</html>
