<div class="report">
  <!-- MAIN section -->
  <table align="center" style="width: 100%">
    <tr>
      <td style="text-align: center; padding: 10px 0">
        <div style="width: 100%">
          <!-- Inner table section -->
          <table style="width: 100%" class="top-header">
            <!-- End of report section -->
            <tr>
              <td align="left">
                <table style="width: 100%">
                  <tr>
                    <td class="left">
                      <div>
                        <p>
                          {{datetime from_rfc3339=execution_annotations.date_printed output_format="%B %d, %Y %H:%M"
                          with_timezone="UTC"}}
                        </p>
                      </div>
                    </td>
                    <td class="right copy">
                      <div />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- End of report section -->
            <!-- Document header block -->
            <tr>
              <td>
                <table class="main-header">
                      <td width="23%" class="left" valign="top">
                        <img src="sequent-logo.svg" />
                      </td>
                  <td width="54%" class="center" >
                    <div class="country">SEQUENT ONLINE VOTING</div>
                    <div class="commission">COMMISSION ON ELECTIONS</div>
                    <!-- TODO: Use `election_date` instead -->
                    <div class="election-date">
                      {{datetime from_rfc3339=execution_annotations.date_printed output_format="%B %d, %Y"
                      with_timezone="UTC"}}
                    </div>
                    <div class="election-name">
                      {{election_event_title}}
                    </div>
                    <div class="online">ONLINE VOTING AND COUNTING SYSTEM</div>
                    <div class="voting-period">
                      Overseas Voting Period: {{datetime
                      from_rfc3339=elections.0.election_dates.scheduled_event_dates.ALLOW_INIT_REPORT.scheduled_at
                      output_format="%d %B %Y" with_timezone="UTC"}} - {{datetime
                      from_rfc3339=elections.0.election_dates.scheduled_event_dates.END_VOTING_PERIOD.scheduled_at
                      output_format="%d %B %Y"
                      with_timezone="UTC"}}
                    </div>

                  </td>
                      <td width="23%" class="right" valign="top">
                        <img src=""/>
                      </td>
                </table>
        </div>
      </td>
    </tr>
    <!-- Inner table section -->

    <!-- Main title -->
    <tr>
      <td align="center" style="font-size: 18px">
        <p style="margin-bottom: 0">
          <strong>VOTING MONITORING</strong>
        </p>
        <p style="margin: 0">EVENTS</p>
      </td>
    </tr>
    <!-- Main title -->


    <!-- Additional sections -->
    <tr>
      <td style="margin: 16px 0">
        <div style="margin: 16px 0">
          <table class="main-table">
            <thead>
              <tr>
                <td>
                  <strong>Region/Post</strong>
                </td>
                <td>
                  <strong>Country</strong>
                </td>
                <td>
                  <strong>Date of final testing</strong>
                </td>
                <td>
                  <strong>Date and time of initialization</strong>
                </td>
                <td>
                  <strong>Date and time of opening polls</strong>
                </td>
                <td>
                  <strong>Date and time of closing polls</strong>
                </td>
                <td>
                  <strong>Date and time of transmission of
                    results</strong>
                </td>
                <td>
                  <strong>Transmission status</strong>
                </td>
                <td>
                  <strong>Remarks</strong>
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each regions}}
              <tr>
                <td colspan="9" style="text-align: left;">
                  <strong>{{name}}</strong>
                </td>
              </tr>
              {{#each events}}
              <tr class="no-page-break ">
                <td>
                  {{post}}
                </td>
                <td>
                  {{country}}
                </td>
                <td>
                  {{datetime from_rfc3339=testing_date output_format="%B %d, %Y"}}
                </td>
                <td>
                  {{datetime from_rfc3339=initialization_date output_format="%B %d, %Y %H:%M"}}
                </td>
                <td>
                  {{datetime from_rfc3339=opening_date output_format="%B %d, %Y %H:%M"}}
                </td>
                <td>
                  {{datetime from_rfc3339=closing_date output_format="%B %d, %Y %H:%M"}}
                </td>
                <td>
                  {{datetime from_rfc3339=transmission_date output_format="%B %d, %Y %H:%M"}}
                </td>
                <td>
                  {{transmission_status}}
                </td>
                <td>
                  {{sanitize_html (expr remarks)}}
                </td>
              </tr>
              {{/each}} {{/each}}
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    <!-- END of additional sections -->

    <!-- Additional sections -->
    <tr>
      <td>
        <div>
          <table class="stats-table">
            <tr class="key-value">
              <td class="key">No. of Downtime:
              </td>
              <td class="value">{{format_u64 ovcs_downtime}}</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <!-- END of additional sections -->

    <!-- Title secondary section -->
    <!-- QR CODES section -->
    <tr class="qr-codes">
      <td align="center">
        <div>
          <div class="qrcode" id="qrcode"></div>
        </div>
      </td>
    </tr>
    <!-- END QR CODES section -->
    <!-- END Title secondary section -->

    <!-- Left paragraph section -->
    <tr class="sys-info">
      <td align="center">
        <div>
          <span class="word-break">Report hash: {{sanitize_html (expr
            execution_annotations.report_hash)}}</span><br />
          <br />
          Software version: {{sanitize_html (expr execution_annotations.software_version)}}<br />
          System hash: {{sanitize_html (expr
          execution_annotations.app_hash)}}
        </div>
      </td>
    </tr>
    <!-- END Left paragraph section -->

    <!-- End of report section -->
    <tr class="report-end">
      <td align="center">
        <div>
          <p>End of Report</p>
          <hr />
        </div>
      </td>
    </tr>
    <!-- End of report section -->
  </table>
  <!-- MAIN section -->
</div>
<script>
  let reportHash = '{{{execution_annotations.report_hash}}}';
  let systemHash = '{{{execution_annotations.app_hash}}}';
  let softwareVersion = '{{{execution_annotations.software_version}}}';
  let ovcsVersion = '{{{execution_annotations.app_version}}}';
  let date = `{{datetime from_rfc3339=execution_annotations.date_printed output_format="%B %d, %Y %H:%M"
                          with_timezone="UTC"}}`
  let user = '{{expr execution_annotations.executer_username}}'

  const qrcode = new QRCode(document.getElementById("qrcode"), {
    text:
      `OVERSEAS VOTING MONITORING - OVCS EVENTS: report hash:${reportHash}, system hash: ${systemHash}, software version: ${softwareVersion}, ovcs version: ${ovcsVersion}, date and time: ${date}, user who generated: ${user}`,
    width: 180, height: 180, colorDark: '#000000', colorLight: '#ffffff',
    correctLevel: QRCode.CorrectLevel.M,
  });
</script>