{{#each areas}}
<div class="report">
  <!-- MAIN section -->
  <table align="center" style="width: 100%">
    <tr>
      <td style="text-align: center; padding: 10px 0">
        <div style="width: 100%">
          <!-- Inner table section -->
          <table style="width: 100%" class="top-header">
            <!-- End of report section -->
            <tr>
              <td align="left">
                <table style="width: 100%">
                  <tr>
                    <td align="left">
                      <div>
                        <p class="date_printed">
                          {{datetime from_rfc3339=../execution_annotations.date_printed output_format="%B %d, %Y %H:%M"
                          with_timezone="UTC"}}
                        </p>
                      </div>
                    </td>
                    <td class="right copy">
                      <div />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- End of report section -->
            <!-- Document header block -->
            <tr>
              <td>
                <table class="main-header">
                      <td width="23%" class="left" valign="top">
                        <img src="sequent-logo.svg" />
                      </td>
                  <td width="54%" class="center">
                    <div class="country">SEQUENT ONLINE VOTING</div>
                    <div class="commission">COMMISSION ON ELECTIONS</div>
                    <!-- TODO: Use `election_date` instead -->
                    <div class="election-date">
                      {{datetime from_rfc3339=../execution_annotations.date_printed output_format="%B %d, %Y"
                      with_timezone="UTC"}}
                    </div>
                    <div class="election-name">
                      {{election_title}}
                    </div>
                    <div class="online">ONLINE VOTING AND COUNTING SYSTEM</div>
                    <div class="voting-period">
                      Voting Period: {{datetime from_rfc3339=election_dates.scheduled_event_dates.ALLOW_INIT_REPORT.scheduled_at
                      output_format="%d %B %Y" with_timezone="UTC"}} - {{datetime
                      from_rfc3339=election_dates.scheduled_event_dates.END_VOTING_PERIOD.scheduled_at output_format="%d %B %Y"
                      with_timezone="UTC"}}
                    </div>
                  </td>
                      <td width="23%" class="right" valign="top">
                        <img src=""/>
                      </td>
                </table>
              </td>
            </tr>
            <!-- Document header block -->
          </table>
        </div>
      </td>
    </tr>
    <!-- Inner table section -->

    <!-- Main title -->
    <tr class="main-title">
      <td align="center">
        <p>
          <strong>LIST OF PRE-ENROLLED BUT SUBJECT FOR MANUAL VALIDATION</strong>
        </p>
      </td>
    </tr>
    <!-- Main title -->

    <!-- Additional sections -->
    <tr>
      <td>
        <div>
            <table class="stats-table">
            <tr>
              <td class="key post">
                <strong>Post:</strong>
              </td>
              <td class="value">
                {{sanitize_html (expr post)}}
              </td>
            </tr>
            <tr>
              <td class="key">
                <strong>Country:</strong>
              </td>
              <td class="value">
                {{sanitize_html (expr area_name)}}
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <!-- END of additional sections -->

  <!-- Additional sections -->
  <tr>
    <td>
      <div>
        <table class="table-section">
          <thead>
            <tr>
              <td>
                <strong>No.</strong>
              </td>
              <td>
                <strong>Name</strong>
              </td>
              <td>
                <strong>Id</strong>
              </td>
              <td>
                <strong>Reason</strong>
              </td>
              <td>
                <strong>Date Pre-Enrolled (PH Time)</strong>
              </td>
            </tr>
          </thead>
          <tbody>
            {{#each voters}}
            <tr>
              <td>
                {{@index}}
              </td>
              <td>
                {{last_name}},
                {{first_name}} {{suffix}} {{middle_name}}
              </td>
              <td>
                {{username}}
              </td>
              <td>
                {{sanitize_html (expr manual_verify_reason)}}
              </td>
              <td>
                {{datetime from_rfc3339=enrollment_date output_format="%B %d, %Y"}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  <!-- END of additional sections -->

  <!-- Additional sections -->
  <!-- END of additional sections -->

  <!-- Title secondary section -->
  <tr class="qr-codes">
    <td align="center">
      <div>
        <div class="qrcode" id="qrcode-{{@index}}"></div>
      </div>
    </td>
  </tr>
  <!-- END Title secondary section -->

  <!-- Left paragraph section -->
  <tr class="sys-info">
    <td align="center">
      <div>
        Report hash: {{sanitize_html (expr ../execution_annotations.report_hash)}}<br />
        Software version: {{sanitize_html (expr ../execution_annotations.software_version)}}<br />
        System hash: {{sanitize_html (expr ../execution_annotations.app_hash)}}
      </div>
    </td>
  </tr>
  <!-- END Left paragraph section -->

  <!-- End of report section -->
    <tr class="report-end">
      <td align="center">
        <div>
          <p>End of Report</p>
          <hr />
        </div>
      </td>
    </tr>
  <!-- End of report section -->
  </table>
  <!-- Inner table section -->
</div>
</td>
</tr>
</table>
<!-- MAIN section -->
</div>
{{/each}}
<script>
 window.onload = function () {
      let reportHash = '{{expr execution_annotations.report_hash}}'
      let systemHash = '{{expr execution_annotations.app_hash}}';
      let softwareVersion = '{{expr execution_annotations.software_version}}';
      let ovcsVersion = '{{expr execution_annotations.app_version}}';
      let date = `{{datetime from_rfc3339=execution_annotations.date_printed output_format="%B %d, %Y %H:%M" with_timezone="UTC"}}`
      let user = '{{expr execution_annotations.executer_username}}'
      const areaData = {{{to_json areas}}};
      areaData.forEach((area, index) => {
        const qrcodeDiv = document.getElementById(`qrcode-${index}`);
        if (qrcodeDiv) {
             new QRCode(qrcodeDiv, {
            text:`LIST OF PRE-ENROLLED BUT SUBJECT FOR MANUAL VALIDATION: report hash:${reportHash}, system hash: ${systemHash}, software version: ${softwareVersion}, ovcs version: ${ovcsVersion}, date and time: ${date}, user who generated: ${user}`,
            width: 180, height: 180, colorDark: '#000000', colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.M,
          });
        }
      });
  };
</script>