<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      background-color: #ffffff;
      font-family: serif;
      font-size: 14px;
    }

    table,
    td {
      border-collapse: collapse;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
    }

    p,
    h1,
    h2,
    h3 {
      margin: 14px 0;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  </style>
</head>

<body style="background-color: #ffffff">
  <div style="margin: 0 auto; background-color: #ffffff">
    <!-- MAIN section -->
    <table align="center" style="width: 100%">
      <tr>
        <td style="text-align: center; padding: 10px 0">
          <div style="width: 100%">
            <!-- Inner table section -->
            <table style="width: 100%">
              <!-- End of report section -->
              <tr>
                <td align="left">
                  <table style="width: 100%">
                    <tr>
                      <td align="left">
                        <div style="
                              text-align: left;
                              margin: 16px 0;
                              font-size: 10px;
                            ">
                          <p>{{date_printed}}{{time_printed}}</p>
                        </div>
                      </td>
                      <td align="right">
                        <div style="
                              text-align: right;
                              margin: 16px 0;
                              font-size: 10px;
                            "></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- End of report section -->

              <!-- Document header block -->
              <tr>
                <td>
                  <table style="width: 100%">
                    <td width="25%">
                      <img style="display: inline-block" src="" style="max-width: 80px" />
                    </td>
                    <td width="50%" align="center" style="font-family: serif">
                      REPUBLIC OF PHILIPPINES
                      <br /><strong>COMMISSION ON ELECTIONS</strong>
                      <br />{{election_date}} <br />{{election_title}}
                    </td>
                    <td width="25%">
                      <img src="" style="max-width: 80px" />
                    </td>
                  </table>
                </td>
              </tr>
              <!-- Document header block -->

              <!-- Subtitle header block -->
              <tr>
                <td align="center" style="font-family: serif; font-size: 12px">
                  <div style="
                        margin-top: 12px;
                        margin-bottom: 12px;
                        text-align: center;
                      ">
                    <strong>ONLINE VOTING AND COUNTING SYSTEM</strong>
                    <br />Overseas Voting Period: {{voting_period}}
                  </div>
                </td>
              </tr>
              <!-- Subtitle header block -->

              <!-- Main itle -->
              <tr>
                <td align="center" style="font-family: serif; font-size: 18px">
                  <p>
                    <strong>STATISTICAL REPORT</strong>
                  </p>
                </td>
              </tr>
              <!-- Main itle -->

              <!-- Additional sections -->
              <tr>
                <td style="margin: 16px 0">
                  <div style="margin: 16px 0">
                    <table style="width: 100%">
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Geographical Region:</strong>
                        </td>
                        <td style="text-align: left">
                          {{geographical_region}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Post:</strong>
                        </td>
                        <td style="text-align: left">{{post}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Country:</strong>
                        </td>
                        <td style="text-align: left">{{country}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Voting Center:</strong>
                        </td>
                        <td style="text-align: left">{{voting_center}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Clustered Precinct ID:</strong>
                        </td>
                        <td style="text-align: left">{{precinct_code}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Number of Registerd Voters:</strong>
                        </td>
                        <td style="text-align: left">
                          {{registered_voters}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Number of Ballots Counted:</strong>
                        </td>
                        <td style="text-align: left">{{ballots_counted}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Voters Turnout (%):</strong>
                        </td>
                        <td style="text-align: left">{{voters_turnout}}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
              <!-- END of additional sections -->

              {{#each elective_positions}}
              <!-- Title secondary section -->
              <tr>
                <td align="left">
                  <div style="text-align: left">
                    <p style="font-family: serif; font-size: 12pt">
                      <strong>{{elective_position}}</strong>
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Title secondary section -->

              <!-- Additional sections -->
              <tr>
                <td style="margin: 16px 0">
                  <div style="margin: 16px 0">
                    <table style="width: 100%">
                      <tr>
                        <td verti style="text-align: left">
                          <strong>Total number of expected votes:</strong>
                        </td>
                        <td style="text-align: left; vertical-align: top">
                          {{total_expected}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Total number of votes for the position:</strong>
                        </td>
                        <td style="text-align: left; vertical-align: top">
                          {{total_position}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Total number of unde-votes:</strong>
                        </td>
                        <td style="text-align: left; vertical-align: top">
                          {{total_undevotes}}
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: left; vertical-align: top">
                          <strong>Fill up rate (%)</strong>
                        </td>
                        <td style="text-align: left; vertical-align: top">
                          {{fill_up_rate}}
                        </td>
                      </tr>

                    </table>
                  </div>
                </td>
              </tr>
              <!-- END of additional sections -->
              {{/each}}

              <!-- Paragraph section -->
              <tr>
                <td align="left">
                  <div style="
                        margin-top: 12px;
                        margin-bottom: 12px;
                        text-align: left;
                      ">
                    <strong>WE, THE UNDERSIGNED MEMBERS OF THE SPECIAL BOARD OF
                      ELECTION INSPECTORS</strong>
                    of {{post}} and Clustered Precinct ID {{precinct_code}},
                    do hereby certify under oath that above information are
                    true as generated by the Online Voting and Counting System
                    for {{country}} on {{goverment_time }} (host's government
                    time).
                  </div>
                </td>
              </tr>
              <!-- END Paragraph section -->

              <!-- Title secondary section -->
              <tr>
                <td align="center" style="padding: 15px">
                  <div style="text-align: center; padding: 15px">
                    <p style="font-family: serif; font-size: 12pt">
                      <strong>THE SPECIAL BOARD OF ELECTION INSPECTORS</strong>
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Title secondary section -->

              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin: 0">{{chairperson_name}}</p>
                    <p style="margin: 0"><strong>CHAIRPERSON</strong></p>
                    <p style="margin: 0">
                      (Signature above printed full name)
                    </p>
                    <p style="margin: 0">{{chairperson_digital_signature}}</p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->
              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin: 0">{{poll_clerk_name}}</p>
                    <p style="margin: 0"><strong>POLL CLERK</strong></p>
                    <p style="margin: 0">
                      (Signature above printed full name)
                    </p>
                    <p style="margin: 0">{{poll_clerk_digital_signature}}</p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->
              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin: 0">{{third_member_name}}</p>
                    <p style="margin: 0"><strong>THIRD MEMEBER</strong></p>
                    <p style="margin: 0">
                      (Signature above printed full name)
                    </p>
                    <p style="margin: 0">
                      {{third_member_digital_signature}}
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->

              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin-top: 0">
                      (Signature above printed full name)
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->

              <!-- Title secondary section -->
              <tr>
                <td align="center" style="padding: 15px">
                  <div style="text-align: center; padding: 15px">
                    <p style="font-family: serif; font-size: 12pt">
                      <strong>WATCHERS</strong>
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Title secondary section -->

              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin-top: 0">
                      (Signature above printed full name)
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->
              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin-top: 0">
                      (Signature above printed full name)
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->

              <!-- Signature simple section -->
              <tr>
                <td align="center" style="margin-top: 24px">
                  <div style="margin-top: 24px">
                    <hr style="margin: 0 120px; border-top: 1px solid #000000" />
                    <p style="margin-top: 0">
                      (Signature above printed full name)
                    </p>
                  </div>
                </td>
              </tr>
              <!-- END Signature simple section -->

              <!-- Left paragraph section -->
              <tr>
                <td align="center" style="padding: 10px">
                  <div style="text-align: left; margin-top: 24px">
                    Report hash: {{report_hash}}<br />
                    Software version: {{software_version}}<br />
                    OVCS version: {{ovcs_version}}<br />
                    System hash: {{system_hash}}
                  </div>
                </td>
              </tr>
              <!-- END Left paragraph section -->

              <!-- End of report section -->
              <tr>
                <td align="center">
                  <div style="text-align:center; margin: 16px; 0">
                    <hr style="margin: 0 24px; border-top: 3px solid #000000" />
                    <p>END OF REPORT</p>
                  </div>
                </td>
              </tr>
              <!-- End of report section -->
            </table>
            <!-- Inner table section -->
          </div>
        </td>
      </tr>
    </table>
    <!-- MAIN section -->
  </div>
</body>

</html>